

<div class="container">
  <app-navi></app-navi>


  <div class="row">
    <div class="col-md-4">
      <app-brands></app-brands>
    </div>
    <div class="col-md-8">
      <app-cars></app-cars>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <app-colors></app-colors>
    </div>    
    <div class="col-md-4">
      <app-customers></app-customers>
    </div>
    <div class="col-md-4">
      <app-rentals></app-rentals>
    </div>
  </div>

</div>










<router-outlet />
