

<div class="container">
  <app-navi></app-navi>


  <div class="row">
    <div class="col-md-3">
      <app-brands></app-brands>
    </div>
    <div class="col-md-9">
      <app-cars></app-cars>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <app-colors></app-colors>
    </div>   
    
    <div class="col-md-9">
      <app-rentaldetails></app-rentaldetails>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-9">
      <app-customers></app-customers>
    </div>
  </div>

</div>










<router-outlet />
